<a href="https://colab.research.google.com/github/Joe86vn/Joe86vn/blob/main/b_i_t_p_th_c_h_nh_6_module_3b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Bài tập 1: Nối và Gộp

a. Nối dữ liệu đồ thị nến của các cổ phiếu trong danh sách VN30 thành 1 DataFrame trong 200 ngày qua (từ 1/9/2023 - 18/3/2024). Nguồn dữ liệu sử dụng là hàm `stock_historical_data` từ vnstock. [Link](https://docs.vnstock.site/functions/technical/#truy-xuat-du-lieu-gia-lich-su)

b. Tạo bảng so sánh báo cáo doanh thu của các cổ phiếu ngân hàng trong danh sách VN30

**Gợi ý**:
- Code lấy danh sách mã cổ phiếu VN30 có trong nội dung bài học
- Sử dụng hàm listing_companies trong vnstock, nguồn SSI để lấy thông tin công ty và ngành

# II. Bài tập 2: Xác định tín hiệu quá mua, quá bán

Xác định tín hiệu kỹ thuật của các mã cổ phiếu trong danh sách VN30 từ ngày 12/3/2024 - 18/03/2024. Điểm gốc lấy dữ liệu tính toán từ 12/3/2023 (200 ngày qua).

* Chỉ báo RSI, khung thời gian 14 ngày. Mốc xác định quá mua là 70, quá bán là 30. Tín hiệu quá mua khi RSI lớn hơn 70, quá bán khi RSI nhỏ hơn 30.

**Yêu cầu**: Những cổ phiếu nào trong danh sách VN30 có tín hiệu Quá mua? Cổ phiếu nào có tín hiệu Quá bán trong 7 ngày qua?

**Gợi ý**: Sử dụng DataFrame có từ bài 1a để tính toán.

# III. Bài tập 3: Xác định tín hiệu đảo chiều

Cho danh sách các mã cổ phiếu VN30 7 ngày qua (từ 12/3 - 18/3). Những cổ phiếu nào có tín hiệu đảo chiều từ mô hình nến DRAGONFLY DOJI?

# IV. Bài tập 4 (Không bắt buộc)

> Đây là phần bài tập rút gọn từ một dự án thực tế mà Thịnh làm cho khách hàng.

Thoạt nhìn thì kết quả cuối cùng không quá phức tạp nhưng thực tế cũng không hề đơn giản. Để làm bài tập này, các bạn phải vận dụng tất cả kiến thức đã học về biến đổi dữ liệu và ứng dụng linh hoạt để thành công.

**Giới thiệu:** Trong bài tập này, khách hàng yêu cầu tạo ra một bảng tính để sử dụng là bộ lọc cổ phiếu. Dữ liệu của bảng tính được bố trí theo yêu cầu sau:
- Mỗi một hàng thể hiện dữ liệu của một mã cổ phiếu
- Các cột thể hiện 3 nhóm thông tin chính là Tài sản (asset), Vốn chủ sở hữu (equitty), Thông tin công ty (Overview). Trong đó:
  - Giá trị tài sản và nguồn vốn đủ thông tin 10 năm trở về trước. Chỉ lấy dữ liệu báo cáo năm.
  - Thông tin cơ bản công ty bao gồm: Số cổ phiếu niêm yết, Số cổ phiếu đang lưu hành, Sàn giao dịch

In [ ]:
screener_df.T

      asset - yearly                                                         \
index           2013   2014    2015    2016    2017    2018    2019    2020
VIC            75773  90070  145554  183476  213792  288127  403741  422504

                       ... equity - yearly                                \
index    2021    2022  ...            2016   2017   2018    2019    2020
VIC    428384  577407  ...           48291  52557  99167  120589  135853

                        Overview
index    2021    2022 issueShare outstandingShare exchange
VIC    159572  135655     3813.9           3813.9     HOSE

[1 rows x 23 columns]

**Yêu cầu**
1. Phân tích cấu trúc bảng tính và các bước cần thực hiện để tạo ra kết quả cần đạt như trên
2. Thực hiện lấy dữ liệu từ `vnstock` để điền các thông tin như yêu cầu ở trên vào DataFrame có tên `screener_df` đối với mã cổ phiếu `VIC`
---
**Nâng cao**

3. Thử sức thêm thông tin Lợi nhuận sau thuế 4 quý gần nhất vào DataFrame trên
4. Nâng cao: Viết chương trình để lấy thông tin như 3 yêu cầu trên cho tất cả mã cổ phiếu Ngân hàng

**Gợi ý**
> Bạn cần đọc bài học lý thuyết để hiểu hơn về Chỉ mục phân cấp (Hierarchical indexing) [tại đây](https://course.learn-anything.vn/lesson/doc-them-giao-trinh-data-wrangling-noi-gop-thay-doi-cau-truc-dataframe/)